* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: solid 1px #ff4b2b;
  border-radius: 22px;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  background: #ff4b2b;
  padding: 10px 40px;
  font-weight: bold;
  transition: transform 80ms ease-in;
  text-align: center;
}
button:active {
  transform: scale(0.95);
}
button:focus {
  outline: none;
}
#demo {
  padding: 25% 50% 25% 45%;
}
.content-wrapper {
  background-image: url("./img/wallpaperflare.com_wallpaper\ \(28\).jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 250%;
}
footer {
  background: #ff864c;
  text-align: center;
  justify-content: center;
  font-size: 18px;
  color: #fff;
  height: 10vh;
  align-items: center;
}
footer p {
  text-align: center;
}
.nav-link {
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  min-height: 5vh;
  background-color: rgb(219, 116, 48);
  align-items: center;
}
.nav-link-rightside {
  padding-right: 83%;
}

a {
  text-decoration: none;
  color: rgba(219, 219, 219, 0.808);
  text-align: center;
  padding-top: 10px;
  padding-left: 10px;
}
a:hover {
  font-weight: bolder;
  color: azure;
}
.burger {
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  margin: 5px;
}
.nav-links {
  background-color: #111;
  position: absolute;
  top: 5vh;
  width: 20%;
  height: 86%;
  left: 1024px;
  text-align: center;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
  background-attachment: fixed;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}
.nav-links li {
  list-style: none;
  text-transform: capitalize;
  font-size: large;
  padding-top: 50px;
  justify-content: center;
  opacity: 1;
}
.nav-links:hover {
  border-bottom: 1px solid #fff;
}
hr {
  opacity: 0.5;
  justify-content: center;
}
/* contact me */
.form-container {
  background-color: rgba(219, 219, 219, 0.808);
  height: 90vh;
}
.form-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  left: 50%;
  background-color: rgba(17, 17, 17, 0.726);
  width: 450px;
  height: 90vh;
  align-items: center;
  text-align: center;
}
.form-wrapper input {
  padding: 10px;
  border: solid rgba(219, 219, 219, 0.808);
  border-radius: 2px;
}
/* .form-wrapper input [type="Message"]{

} */
.form-wrapper h3 {
  color: #ffffff;
}
/* About me  */
.about-container {
  background-color: rgba(219, 219, 219, 0.808);
  height: 90vh;
}
.about-wrapper {
  padding: 20%;
  justify-content: center;

  background-color: rgba(17, 17, 17, 0.726);

  height: 90vh;
  align-items: center;
  text-align: center;
}
/* Animation */
@keyframes .nav-links{
  
}
